name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    name: Publish guide
    env:
      YARNER_VERSION: 0.5.2
      YARNER_BL_VERSION: 0.1.2
      MDBOOK_VERSION: 0.4.7
      MDBOOK_TOC_VERSION: 0.6.1
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Yarner and mdBook
        run: |
          curl -LsSf https://github.com/mlange-42/yarner/releases/download/${YARNER_VERSION}/yarner-${YARNER_VERSION}-linux-amd64.tar.gz | tar xzf -
          curl -LsSf https://github.com/mlange-42/yarner-block-links/releases/download/${YARNER_BL_VERSION}/yarner-block-links-${YARNER_BL_VERSION}-linux-amd64.tar.gz | tar xzf -
          curl -LsSf https://github.com/rust-lang/mdBook/releases/download/v${MDBOOK_VERSION}/mdbook-v${MDBOOK_VERSION}-x86_64-unknown-linux-gnu.tar.gz | tar xzf -
          curl -LsSf https://github.com/badboy/mdbook-toc/releases/download/${MDBOOK_TOC_VERSION}/mdbook-toc-${MDBOOK_TOC_VERSION}-x86_64-unknown-linux-gnu.tar.gz | tar xzf -
          echo $(pwd) >> $GITHUB_PATH
      - name: Run mdbook
        run: |
          yarner --clean
          mdbook build
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
